---
import '../styles/global.css';
const pageTitle = "AMy Astro Learning Blog";
---

<div id="container" class="mx-5">
  <h1 class="text-red-600 text-3xl font-bold underline">My Astro Site</h1>
  <h1 class="text-green-600 text-2xl font-semibold">{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a class="underline cursor-pointer text-sky-500" href="../posts/post-1/">Post 1</a></li>
    <li><a class="underline cursor-pointer text-sky-500" href="../posts/post-2/">Post 2</a></li>
    <li><a class="underline cursor-pointer text-sky-500" href="../posts/post-3/">Post 3</a></li>
  </ul>
</div>

<style>
  a {
    color: gold;
  }
</style>