---
import NavigationComponent from './Navigation.astro';
import MobileMenuComponent from './Mobile-menu.astro';
---

<header>
    <nav>
        <MobileMenuComponent />
        <NavigationComponent />
    </nav>
</header>