---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

const pageTitle = 'Home Page';
---

<div id="container">
	<h1>{pageTitle}</h1>
</div>

<style>
	h1 {
		color: dodgerblue;
	}
</style>