---
import '../styles/global.css';
---

<div id="container" class="nav-links mt-2 mb-9 mx-5">
  <a href="/">Home</a>
  <span class="p-2">></span>
  <a class="" href="/about/">About</a>
  <span class="p-2">></span>
  <a class="" href="/blog/">Blog</a>
</div>